body{
  margin: 0;
  padding: 0;
}
.o {  
   position: relative;
  background-color: #eff6f9;
  justify-content: space-between;
  display:flex;
  /* padding: 11px; */
  font-size: 1rem; 

 }
 
 a{
  text-decoration: none;  
 }
 
 
ul{
  list-style-type: none;
}

.menu{
display: none;
}
 .active {
   color: red;
 }
 
 .o li img {
   width: 100px;
 }
 
 .o li {
   float: left;
 }
 
 .o li a {
   padding: 5% 18px;
   text-align: center;
   color:#29abdd;
   transition: 0.2s ease-out;
 
 }
 .o li a:hover {
   text-align: center;
   border-bottom:5px solid rgb(255, 38, 0);
 }
 
 
  .drop {
  transition: 4s ease-out;
   display: inline-block;
 }
 
 .drop-con {
   box-sizing: border-box;
   display: none;
   position: absolute;
 }
 
 .o .edu{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: red;
  font-weight: 900;
  font-size: 1.23rem;
 }


.introbox{
  display: flex;
  justify-content: center;
  /* gap: 150px; */
  padding: 25px 46px 0;
}
.right img{
 max-width: 400px;
}
.left{
  gap: 12px;
  max-width: 40vw;  /* 400px*/
}
.left h2{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #012478;
margin-top: 36px;
}

.right{
  max-width: 800px;
}

.primary-btn {
  background-color: #3785D7;
  border-radius: 6px;
  color: rgb(255, 255, 255) !important;
  padding: 6px 10px;
  margin-top: 15px;
  box-shadow: 0 0 2px whitesmoke;
  transition: 0.2s ease-out;
}

.primary-btn:hover {
  background-color: #3324d8;
}




/* ranks section  */

.ranks{
  display: flex;
  font-size: 20px;
  background: #04236a;
  align-items: center;
  justify-content: space-around;
  padding-top: 1rem;    
  padding-bottom: 1rem;
}



.rank img{
  max-width: 7vmin;
}

.my-auto{
  font-size: 1vmax;
  margin-left: 0.5rem;
  margin-right: 1.5rem;
color: white;
}
.count-text {
  font-size: 1.3vmax;
  font-family: "ProximaNova-600",sans-serif;
}
.counter-value{
  font-size: 1vmax;
  font-family: "ProximaNova-600",sans-serif;

}
label{
  display: inline-block;
}



/* Slider  Section he yha pe ok*/

.slider{
box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  overflow-x: scroll;
}
.slider::-webkit-scrollbar{
height: 0;

width: 0;
}


.p h2{
  color: #012478;
  font-family: "ProximaNova-600",sans-serif;
}
.p h2 span{
  color: #3785D7;
}

.item-div{
  padding: 32px 25px;
  /* padding-bottom: 16px; */
  background: white;
}

.slider  ul{
width: 200%;
  display: flex;

  gap: 10px;
}
.slider il {
width: 10%;
border-radius: 6px;
  box-shadow: 0 2px 5px 0 rgba(17,121,239,.15);
  border: 1px solid #e6ecef;
  overflow: hidden;
  background: #fff;
}

.img_th{
  height: 50px;
  padding-left: 15px;
  background: #ff5d63;
  background-image: radial-gradient(circle at 28% 36%, #ff9195, #ff5d63 66%);
}

.sub-heading{
font-family: math;
color: #012478;
  font-size: 15px;
  line-height: 1.44;
}
.info{
font-size: 12px;
margin-left: 9px;
}
.bundle-info p{
  margin-left: 16px;
  color: #0d3838;
  font-size: 0.6rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.info p b {
  font-weight: 900;
}



/* hindi language he yha per ok  */


.mt-3{
font-size: 2vmax;
padding-right: 1vw;
padding-left: 1vw;
}
.lan-card:hover{
box-shadow: 0 1px 3px rgb(1 4 11 / 68%);
}
a{
text-decoration: none;
}

.lan-card{
width: 20%;
display: inline-block;
border-radius: 0.8rem;
background-size:contain;
}

.row{
/* margin-left: 100px; */
text-align: center;
padding: 1.5rem;
display: flex;
flex-wrap: wrap;
gap:20px;
width: 80vw;

}
.p-4{
display: flex;
}

.text-center{
margin-top: 18px;
margin-bottom: 12px;
box-sizing: border-box;
flex-direction: column;
}

.lan-text{

font-size: 1rem;
line-height: 40px;
color: #012478;
font-family: "ProximaNova-600",sans-serif;
font-weight: 600;
}

.course-badge{
color: black!important;
line-height: 10px;
font-size: 10px;
font-weight: 900;
}

.pt-3 {
color: #383838!important;
font-size: 9px;
padding-top: 1rem!important;
}

.mt-3 span{
color: #3785D7;
}
.mt-3 h2{
  color: #012478;
  font-family: "ProximaNova-600",sans-serif;
}






/* Couse By Programing language vala section he yha pe ok */
#course1{
padding-left: 1vh; 
}
#course1 .course-box{
display: flex;

flex-wrap: wrap;
gap: 4px;
}
#course1 .cors{
position: relative;
text-align: start;
background: #e9e9ed;
}

#course1 .cors img{

background-size: cover;
background-position: center;
}
#course1 .cors .detalis{
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
padding: 5px 5px 0 1px;

}
#course1 .cors .detalis i{
color: #FDC93B;
font-size: .9rem;
}
#course1 .cors .cost{
background:#012478;
color: #fff;
line-height: 78px;
width:6vw;
font-size: 1.3vmax;
height: 6vw;
text-align: center;
border-radius: 50%;
position: absolute;
right: 15px;
bottom: 55px;
}
#course1 .cors .detalis h6{
padding: 0!important;
margin: 4%;
}

#course1 .cors .detalis .str{
font-size: 0.7rem;
size: 12px;
}

#course1 .cors .detalis i{
font-size: 0.7rem;
size: 12px;
}

#course1  h2{
color: #012478;
font-family: "ProximaNova-600",sans-serif;
}
#course1 h2 #sub{
color: #ff5d63;
}
#course1 h2 span{
color: #3785D7;
}





.container ul{

 display: flex;
flex-wrap: wrap;
margin-top: 50px;

gap: 4px;
}
.container ul li img{
width: 30px;
height: 18px;
}
.container ul li{
font-family: serif;
  height: 163px;
  text-align: center;
  backdrop-filter: blur(1px);
  background-color: #f2f4f7;
  font-size: 0.9rem;
  width: 357px;}
.container{
padding-left: 1vh;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container h2{
color: #012478;
}
.container h2 span{
color: #3785D7; 
}
.container h2 #c{
color: #ff5d63;
}


footer{
background-color:#383838;
padding:14px;
font-weight: 990;
font-size: 10px;

color:#9b94be;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

















.container1{

  padding: 4rem;
  width: 48rem;
}

.container1 h2{
  color: #012478;
}
.container1 h2 span{
  color: #3785D7;
}
.container1 h2 #c{
  color: #ff5d63;
}
.accordion a {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem 3rem 1rem 1rem;
  color: #7288a2;
  font-size: 1.15rem;
  font-weight: 400;
  border-bottom: 1px solid #e5e5e5;
}
.accordion a:hover,
.accordion a:hover::after {
  cursor: pointer;
  color: royalblue;
}
.accordion a:hover::after {
  border: 1px solid royalblue;
}
.accordion a.active {
  color: #3785D7;
  border-bottom: 1px solid #3785D7;
}
.accordion a::after {
  content: '';
  position: absolute;
  float: right;
  right: 1rem;
  font-size: 1rem;
  color: #7288a2;
  padding: 5px;
  /* width: 30px; */
  /* height: 30px; */
  border-radius: 50%;
  border: 1px solid #7288a2;
  text-align: center;
}
.accordion a.active::after {
  font-family: 'Ionicons';
  content: '\f209';
  color: royalblue;
  border: 1px solid royalblue;
}
.accordion .content {
  opacity: 0;
  padding: 0 1rem;
  max-height: 0;
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
  clear: both;
  transition: all 0.2s ease 0.15s;
}
.accordion .content p {
  font-size: 1rem;
  color: #3785D7;

  font-weight: 300;
}
.accordion .content.active {
  opacity: 1;
  padding: 1rem;
  max-height: 100%;
  transition: all 0.35s ease 0.15s;
}


.sub{
  /* padding: 8px; */
   color: white;
}
.hover-link{
  font-size: 2vmax ;
  color: white;
}
.icons
{
  display: flex;
  justify-content:space-around;
}
.icons .hover-link:hover
{
  color: royalblue;
}